@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Space+Mono&family=Ubuntu:wght@300&display=swap');
:root {
    --primary-bg-color: #fff0e5;
    --secondary-bg-color: #ffd300;
    --font-color: #1b10e5;
    --font-size-p: 0.5rem;
	--font-size-h2: 3rem;
	--font-size-h3: 2rem;
    --margin-space : 40px;
	--padding-space : 40px;
	--font-style : 'Space Mono';
}

.jumbotron {
	background-image: url('img/Sanstitre.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 860px;
   }
   
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: var(--font-color);
	background-color: var(--secondary-bg-color);
}
.nav-item {
	font-size: 1.5rem;
}

.navbar-brand {
	font-size: 2rem;
}

body {
    color: var(--font-color);
    text-align: center;
    background-color: var(--primary-bg-color);
}

h1 {
	border : 2px solid black;
	box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
	text-align: center;
	text-transform: uppercase;
	background-color: #ffffff;
	margin-top :200px;
  }

.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid var(--secondary-bg-color); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	display: inline-block;
	animation: 
	  typing 2.5s steps(40, end),
	  blink-caret .70s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: var(--secondary-bg-color); }
  }

.nathalie {
	font-size: 3em;
	padding: 20px;
}

.job {
	font-size: 1em;
}

h2{
	margin-bottom: var(--margin-space);
	font-size: var(--font-size-h2);
	text-transform: uppercase;
	box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
	border: 3px solid black;
	display: inline-block;
	padding: 20px;
	background-color: #ffffff;
	margin-top: 50px;
}

h3 {
    margin: var(--margin-space);
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-p);
}

h5 {
	font-size: var(--font-size-h2);
	margin-top: 60px;
}

html, body {
	font-family: var(--font-style);
    position: relative;
}

.projets, .articles {
    background-color: var(--secondary-bg-color);
	padding: var(--padding-space);
}

.parcours, .contact {
    background-color: var(--primary-bg-color);
    font-size: var(--font-size-p);
}

footer {
	background-color: var(--secondary-bg-color);
	padding: 50px;
}
img {
	width: 100%;
	transition: 0.4s all ease-in-out;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin, .fa-facebook, .fa-instagram, .fa-android, .fa-github {
	color: var(--font-color);
}

a {
	text-decoration:none;
	color: var(--font-color)
} 

a:hover {
    color: rgb(221, 81, 146);
}

.page-projet{
	display: grid;
	grid-template-rows: 30% 30% 30%;
	padding: var(--padding-space);
	margin-bottom: 20px;
	background-color: var(--primary-bg-color);
}

.page-projet img {
	  max-width: 100%;
	  margin-bottom: 20px;
  }
 

.card-group {
	justify-content: center;

}
  
  .cards {
    margin-top: 10px 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .card {
    width: 550px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: none;
	background-color: #4fe0b0;
  }
  
  button:hover {
	box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
	transform: translate(5px, -5px);
	transition: 0.2s all ease-in-out;
  }
  .card-img {
    background-size: cover;
    background-position: center;
    background-image: url("img/projet1.png");
	background-color: #4fe0b0;
    height: 300px;
    width: 100%;
	transition: 0.2s all ease-in-out;
  }

  .card-body {
    padding: 10px 20px;
	background-color: #4fe0b0;
  }

  .card-body h2 {
    margin: 10px 0px;
  }

  button {
    border: none;
    background-color: var(--secondary-bg-color);
    color: var(--font-color);
	margin: 20px;
	font-size: var(--font-size-h3);
  }

  .card-button:hover {
	  color:white;
  }

  .card-header {
	  padding: 0;
  }

  #competences {
	background-color: #3069f0;
	padding-bottom: 50px;
}

#contact {
	border: 3px solid black;
	margin-bottom: 50px;
}

@media screen and (min-width:600px) {
	
	.card-img:hover {
		cursor: pointer;
		/*transform: scale(1.15);*/
		box-shadow: 10px 10px 0px 0px var(--secondary-bg-color);
		transform: translate(10px, -10px);
	}
	img:hover, h3:hover {
		cursor: pointer;
		/*transform: scale(1.2);*/
		
	  }

    .projets {
		display: flex; 
        flex-direction: row;
		justify-content: center; 
		gap: 30px;
    }
	
	#projets {
		background-color: #4fe0b0;
		padding: 50px;
	}

	.parcours {
		text-align: center;
	}

	.articles {
		display: grid;
		grid-template-columns: 40% 40%;
		justify-content: center;
		gap: 90px;
	}

	p {
		margin-top: 50px;
		font-size: 1.5rem;
		text-align: justify;
		margin-right: 30px;
	}

	.avatar {
		display: grid;
		grid-template-columns: 30%;
		justify-items: center;
		justify-content: center;
		margin: 10px;
	}

	.page-projet {
		background-color: var(--primary-bg-color);
		padding: 20px;
		display: grid;
		grid-template-columns: 60% 20% 20% ;
		gap: 10px;
	}

	h1 {
		display: inline-block;
	  }

	  .nathalie {
		font-size: 5em;
	}

	.job {
		font-size: 3em;
	}

	.typewriter {
		animation: 
		  typing 3.5s steps(40, end),
		  blink-caret .70s step-end infinite;
	  }

	#parcours {
		display: flex;
		padding-bottom: 50px;
	}

}
